.autocomplete {
    display: inline-block;
    position: relative;
    font: normal 14px/20px "Segoe UI";
}

.autocomplete__dropdown {
    font: normal 14px/20px "Segoe UI";
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,.2);
    background: #fff;
}

.autocomplete__list {
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
}

.autocomplete__list > div {
    padding: 4px 7px;
    text-align: left;
}

.highlighted {
    color: #fff;
    background: #5199db;
}

.selected {
    background-color: #f1f1f1;
}

.autocomplete__counter {
    padding: 4px 8px;
    font-size: 12px;
    color: #848484;
    cursor: default;
}

.autocomplete__loader {
    position: absolute;
    right: 0;
    top: 0;
}

div.autocomplete__error {
    padding: 0px;
}

.autocomplete__error > div {
    padding: 4px 7px;
}

.autocomplete__error--refresh-text{
    color: #848484;
    cursor: default;
}

.autocomplete__error--refresh-button {
    background: #5199db;
    color: #fff;
}

.autocomplete__not-found {
    padding: 4px 7px;
    color: #848484;
    cursor: default;
}

.prompt {
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
    user-select: none;
}

.invalid {
    color: #d92b2b;
}