.input__wrapper {
    position: relative;
    font: normal 14px/20px "Segoe UI";
}

.input {
    width: 100%;
    padding: 6px 8px;
    font: normal 14px/20px "Segoe UI";
    border: 1px solid #d9d9d9;
    border-top-color: #b2b2b2;
}

.input:focus::placeholder {
    color: #ccc;
}

.input:focus {
    outline: 0;
    border-color: #5199db;
    box-shadow: 0 0 0 1px #5199db;
}

.input::ms-clear {
    display: none;
}

.padding-right {
    padding-right: 20px;
}

.padding-left {
    padding-left: 20px;
}

.input__icon {
    position: absolute;
    top: -2;
}

.error {
    border-color: #d92b2b;
    box-shadow: 0 0 0 1px #d92b2b;
}