.input-hint {
    display: inline-block;
    position: relative;
    width: 310px;
    font: normal 14px/20px "Segoe UI";
    margin-right: 30px;
}

.input-hint__input {
    width: 100%;
    padding: 6px 8px;
    font: normal 14px/20px "Segoe UI";
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-top-color: #b2b2b2;
    z-index: 1;
}

.input-hint__input::ms-clear {
    display: none;
}

.input-hint__input:focus {
    border-color: #5199db;
    box-shadow: 0 0 0 1px #5199db;
}

.input-hint__hint {
    position: relative;
    float: left;
    margin: 0.5em 0 -2em 0.65em;
    cursor: text;
    color: #aaa;
    user-select: none;
}

.input-hint__hint-focused {
    color: #ccc;
}

.input-hint__dropdown {
    display: none;
    position: absolute;
    top: 36px;
    width: 100%;
    margin: 0;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: none;
    cursor: pointer;
    z-index: 1;
}

.input-hint__dropdown-inverse {
    top: auto;
    bottom: 34px;
    border: 1px solid #d9d9d9;
    border-bottom: none;
}

.input-hint__dropdown:empty {
    border: none;
    display: none;
}

.select-hint__dropdown {
    max-height: 200px;
    width: 328px;
    overflow: hidden;
    overflow-y: scroll;
}

.input-hint__dropdown > li {
    display: block;
    padding: 4px 7px;
    text-align: left;
}

.input-hint__dropdown > li:hover {
    background-color: #f1f1f1;
}

.select-hint__dropdown-loadmore {
    padding-top: 4px;
    border-top: 1px solid #bababa;
    color: #848484;
}

.custom-select:after {
    content: '\E04C';
    font-family: "KonturFont",serif;
    font-style: normal;
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.tooltip-item.tooltip__loading {
    color: #848484;
}

.tooltip-item.tooltip__loading:hover {
    background: #fff;
    cursor: default;
}

.tooltip__loading:before {
    content: '';
    display: block;
    float: left;
    margin: 1px 5px 0px 0px;
    width: 18px;
    height: 18px;
    background: url(../images/loader.gif);
    background-size: cover;
}

.tooltip-item.tooltip-item__details {
    padding: 4px 8px;
    font-size: 12px;
    color: #848484;
    cursor: default;
}

.tooltip-item.tooltip-item__details:hover {
    background: #fff;
}

.tooltip-item.tooltip-item__not-found {
    color: #848484;
}

.tooltip-item.tooltip-item__not-found:hover {
    cursor: default;
    background: #fff;
}

.tooltip-item.tooltip-item__error {
    padding: 0px;
    font-size: 12px;
    color: #848484;
}

.tooltip-item.tooltip-item__error:hover{
    background: #fff;
}

.tooltip-item__error-message {
    padding: 5px;
    cursor: default;
}

.tooltip-item__error-message:hover {
    background: #fff;
}

.tooltip-item__error-refresh {
    padding: 5px;
    margin-top: 5px;
}

.tooltip-item__error-refresh:hover {
    background: #5199db;
    color: #fff;
}

.input-hint__invalid {
    border-color: #d92b2b;
    box-shadow: 0 0 0 1px #d92b2b;
}

.input-hint__notice {
    display: none;
    position: absolute;
    z-index: -1;
    font-size: 12px;
    color: #d92b2b;
}

.input-hint__invalid + .input-hint__notice {
    display: block;
}

.selected, ul > .selected:hover {
    color: #fff;
    background: #5199db;
}

@font-face {
	font-family: "KonturFont"; 
	src: url('../fonts/font.eot');
    src: url('../fonts/font.eot') format('embedded-opentype'),
         url('../fonts/font.woff2') format('woff2'),
         url('../fonts/font.woff') format('woff'),
         url('../fonts/font.ttf') format('truetype')
}